@use "flow.scss" as *;

@forward "flow.scss";

$border-width: 1px;
$border-style: solid;
$border-color: #707070;
$border-radius: 4px;
$border: $border-width $border-style $border-color;

$text: black;
$em: #1e90ff;
$error: #ff6347;
$background: #ffffff;
$background-dark: #eeeeee;

$box-shadow: 0px 3px 10px transparentize($text, 0.85);

@mixin border {
	border: $border;
	border-radius: $border-radius;
}
